
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .panel.dark {
    background-color: rgb(251, 251, 252);
    color: black;
  }
  

  .panel.orange {
    background-color: #fffefe;
    color: black;

  }
  
  .panel.red {
    background-color: #ffffff;
    color: black;

  }
  
  .panel.purple {
    background-color: #d6c3e9;
    color: black;
  }
 